html, body {

	width: 100%;

	height: 100%;

	margin: 0;

	overflow: hidden;

}




body {

	font-family: "Cardo", serif;

	background-color: #F2784B;

	background: linear-gradient(to top right, #08203E, #1B3753, #2F4E69, #42657E, #557C93);

	background-size: 400% 400%;

	animation: gradient 35s linear infinite;

	color: #FFF;

	text-shadow: rgba(0,0,0,0.1) 1px 1px;

	line-height: 1.4;

	font-size: 21px;

	display: flex;

	align-items: center;

	justify-content: center;

	cursor: url('Assets/cursor.png'), auto;

	perspective: 100px;

}



@keyframes gradient {

	0% {

		background-position: 0% 100%;

	}

	50% {

		background-position: 100% 0%;

	}

	100% {

		background-position: 0% 100%;

	}

}




main {

	max-width: 600px;

	margin: 0 auto;

	padding: 20px;

	align-self: center;

}




h1 {

	font-family: "Oswald", sans-serif;

	text-transform: uppercase;

	font-size: 45px;

	color: #FFF;

	margin: 0 0 14px 0;

	font-weight: 600;

	opacity: 0;

	animation: name 1s ease 0.2s;

	animation-fill-mode: forwards;

}

h2 {

	font-family: "Oswald", sans-serif;

	text-transform: uppercase;

	font-size: 28px;

	color: #FFF;

	margin: 0 0 14px 0;

	font-weight: 600;

	opacity: 0;

	animation: name 1.6s ease 2.2s;

	animation-fill-mode: forwards;

}



p {

	margin: 0;

	opacity: 0;

	animation: description 1.6s ease 0.8s;

	animation-fill-mode: forwards;

	text-align: center;

}

p1 {

	margin: 0;

	opacity: 0;

	font-size: 18px;

	animation: description 1.6s ease 2.8s;

	animation-fill-mode: forwards;

	text-align: center;

}




a {

	transition: all 0.3s;

	color: #FFF;

	border-bottom: 2px solid rgba(255, 255, 255, 0.2);

	text-decoration: none;

	font-weight: ;

}




a:hover {

	opacity: 1;

	border-bottom: 2px solid #FFF;

}




@keyframes name {

	0% {

		opacity: 0;

		transform: translateY(-50px);

	}

	100% {

		opacity: 1;

		transform: translateY(0);

	}

}

@keyframes description {

	0% {

		opacity: 0;

		transform: translateY(-40px);

	}

	100% {

		opacity: 1;

		transform: translateY(0);

	}

}




@media (max-width: 500px) {

	main {

		text-align: center;

	}

}
